In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
train=pd.read_csv('lastLabeledData.csv')

In [4]:
train

,sentences,labels
0,"In this study, we first performed a case-contr...","[{'rsID': 'rs194072', 'disease': 'schizophren..."
1,identified two SNPs predictors of cisplatin ot...,"[ { ""rsID"": ""rs6721961"", ""dis..."
2,Hazard ratios (HR) that measured the effect si...,"[ { ""rsID"": ""rs3025039"", ""disease"": ""Rheum..."
3,"Similarly, although no homozygous rs7636836 [T...","[ { ""rsID"": ""rs7636836"", ""dis..."
4,We conduct subgroup analysis of 5 genetic mode...,"[{ ""rsID"": ""rs1800872"", ""disease"": ""cervical..."
...,...,...
5332,"Furthermore, the association of rs1927911 with...","Unfortunately, without more information about ..."
5333,There was a significant association between th...,"[ { ""rsID"": ""rs7754840"", ""Disease"": ""Gestati..."
5334,"In case-control analyses, variant rs34473884 i...","Sorry, but I cannot provide specific SNP-disea..."
5335,The 10 SNPs and their associated effects are: ...,"[ { ""rsID"": ""rs11672691"", ""di..."
5336,The combined data showed that IL2RA/rs2104286 ...,"[{ ""rsID"": ""rs2104286"", ""disease"": ""Grav..."

In [14]:
 "rsID:" in train['labels'].iloc[0]

False

In [13]:
df=train

In [16]:
df=df[df['labels'].str.contains("rsID")==True]

In [17]:
df.to_csv('newData.csv',index=False)

In [18]:
df

,sentences,labels
0,"In this study, we first performed a case-contr...","[{'rsID': 'rs194072', 'disease': 'schizophren..."
1,identified two SNPs predictors of cisplatin ot...,"[ { ""rsID"": ""rs6721961"", ""dis..."
2,Hazard ratios (HR) that measured the effect si...,"[ { ""rsID"": ""rs3025039"", ""disease"": ""Rheum..."
3,"Similarly, although no homozygous rs7636836 [T...","[ { ""rsID"": ""rs7636836"", ""dis..."
4,We conduct subgroup analysis of 5 genetic mode...,"[{ ""rsID"": ""rs1800872"", ""disease"": ""cervical..."
...,...,...
5329,We investigated the relationship between 6 sin...,"[{ ""rsID"": ""rs480780"", ""disease"": ""osteo..."
5330,Results show that there was no significant dif...,"Sorry, it is not possible to provide SNP-disea..."
5333,There was a significant association between th...,"[ { ""rsID"": ""rs7754840"", ""Disease"": ""Gestati..."
5335,The 10 SNPs and their associated effects are: ...,"[ { ""rsID"": ""rs11672691"", ""di..."
5336,The combined data showed that IL2RA/rs2104286 ...,"[{ ""rsID"": ""rs2104286"", ""disease"": ""Grav..."

In [ ]:
"In a recent study, researchers found that the SNP rs12345 with the T allele is significantly associated with an increased risk of type 2 diabetes (p-value = 0.001, odds ratio = 1.5) in the European population. Additionally, the CT genotype at rs67890 was found to be more prevalent in males with coronary artery disease (p-value = 0.01, odds ratio = 2.3)."Â Example output:[{
Â Â Â  "rsID": "rs12345",
Â Â Â  "allele": "T",
Â Â Â  "disease/trait": "type 2 diabetes",
Â Â Â  "p-value": 0.001,
Â Â Â  "odds ratio": 1.5,
Â Â Â  "ethnicity": "European"
Â  },
Â  {
Â Â Â  "rsID": "rs67890",
Â Â Â  "genotype": "CT",
Â Â Â  "disease/trait": "coronary artery disease",
Â Â Â  "p-value": 0.01,
Â Â Â  "odds ratio": 2.3,
Â Â Â  "sex": "male"
Â  }
]Now do the same with the following text:Â