In [1]:
import pandas as pd 
import numpy as np

In [31]:
train=pd.read_excel('AssociationResults (1).xlsx')

In [32]:
#train=pd.read_excel('ResultsOfMLModel12500.xlsx')

In [33]:
train.head(
)

,Article_ID,Pattern,Sentence,rsID,Genotype,Allele,OR,p_value,Effect,Population,Subgroup,Score,PopScore
0,PMCID1291372,PatternUnknown,Significant association of an EBF1-intronic p...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1,PMCID1282571,PatternUnknown,Three of the four SNPs were significantly ass...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
2,PMCID1282571,PatternUnknown,In the set of patients who were diagnosed wit...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
3,PMCID1193520,PatternUnknown,None of the variant alleles at any of these t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
4,PMCID1215495,PatternUnknown,"Of the additional SNPs genotyped, rs4899445 d...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0

In [8]:
sub1=train[train['Pattern']!='PatternUnknown']
sub1.shape

(12536, 13)

In [9]:
sub2=sub1[sub1['Pattern']!='PatternFail']

In [10]:
sub2.shape

(11080, 13)

In [11]:
sub1.head()

,Article_ID,Pattern,Sentence,rsID,Genotype,Allele,OR,p_value,Effect,Population,Subgroup,Score,PopScore
5,PMCID1215495,Pattern12_3,Subsequent genotyping of additional SNPs iden...,rs4899445,NaN,NaN,1.56,0.003,Breast cancer (BC),NaN,NaN,0.999889,0.0
9,PMCID554993,Pattern12_3,"The only SNP in PDE4B in our assay set, rs131...",rs1318475,NaN,NaN,0.78,0.041,The only SNP in PDE4B,NaN,NaN,0.000000,0.0
10,PMCID554993,Pattern12_3,"Similarly, a SNP roughly 18 kb downstream of ...",rs874628,NaN,NaN,1.30,0.080,PDE4C,NaN,NaN,0.000000,0.0
13,PMCID1199296,Pattern12_3,Six SNPs showed significant evidence of assoc...,rs4504469,NaN,NaN,1.50,0.002,KIAA0319,NaN,NaN,0.000000,0.0
14,PMCID1698479,Pattern12_3,"Recently, Herbert and colleagues identified, ...",rs7566605,NaN,NaN,1.22,0.008,BMI,NaN,NaN,0.999727,0.0

In [12]:
sub2.head()

,Article_ID,Pattern,Sentence,rsID,Genotype,Allele,OR,p_value,Effect,Population,Subgroup,Score,PopScore
5,PMCID1215495,Pattern12_3,Subsequent genotyping of additional SNPs iden...,rs4899445,NaN,NaN,1.56,0.003,Breast cancer (BC),NaN,NaN,0.999889,0.0
9,PMCID554993,Pattern12_3,"The only SNP in PDE4B in our assay set, rs131...",rs1318475,NaN,NaN,0.78,0.041,The only SNP in PDE4B,NaN,NaN,0.000000,0.0
10,PMCID554993,Pattern12_3,"Similarly, a SNP roughly 18 kb downstream of ...",rs874628,NaN,NaN,1.30,0.080,PDE4C,NaN,NaN,0.000000,0.0
13,PMCID1199296,Pattern12_3,Six SNPs showed significant evidence of assoc...,rs4504469,NaN,NaN,1.50,0.002,KIAA0319,NaN,NaN,0.000000,0.0
14,PMCID1698479,Pattern12_3,"Recently, Herbert and colleagues identified, ...",rs7566605,NaN,NaN,1.22,0.008,BMI,NaN,NaN,0.999727,0.0

In [13]:
sub3=sub2[sub2['Score']>0]

In [14]:
sub3

,Article_ID,Pattern,Sentence,rsID,Genotype,Allele,OR,p_value,Effect,Population,Subgroup,Score,PopScore
5,PMCID1215495,Pattern12_3,Subsequent genotyping of additional SNPs iden...,rs4899445,NaN,NaN,1.560,0.003,Breast cancer (BC),NaN,NaN,0.999889,0.000000
14,PMCID1698479,Pattern12_3,"Recently, Herbert and colleagues identified, ...",rs7566605,NaN,NaN,1.220,0.008,BMI,NaN,NaN,0.999727,0.000000
17,PMCID1584415,Pattern12_4,"Individually, each of these polymorphisms onl...",rs7903146,NaN,NaN,1.150,NaN,Type 2 diabetes,NaN,NaN,0.998953,0.000000
18,PMCID1584415,Pattern12_3,"The lactase polymorphism rs4988235, which var...",rs4988235,NaN,NaN,0.970,0.520,Type 2 diabetes,NaN,NaN,0.999800,0.000000
28,PMCID1487176,Pattern12_4,"In that study, a third SNP in LTA (rs1041981)...",rs1041981,NaN,NaN,1.780,NaN,Myocardial infarction (MI),NaN,NaN,0.999191,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
47988,PMID35076848,Pattern10_3,"In adjusted analysis, rs2282055 GG genotype w...",rs2282055,GG,NaN,0.271,0.040,Colorectal cancer (CRC),NaN,NaN,0.999671,0.000000
48004,PMID35021256,Pattern12_4,"However, a Arg113Cys missense variant (rs1464...",rs146420040,NaN,NaN,1.300,NaN,Venous thromboembolism (VTE),NaN,NaN,0.998874,0.000000
48006,PMID35020557,Pattern12_2,There was a statistically significant associa...,rs3761548,NaN,NaN,0.540,NaN,Preeclampsia (PE),Asian,NaN,0.337350,0.997710
48007,PMID35020557,Pattern12_2,There was a statistically significant associa...,rs3761548,NaN,NaN,0.540,NaN,Preeclampsia (PE),Asian,NaN,0.999909,0.998168
48012,PMID35006443,Pattern12_3,Polymerase chain reaction (PCR) was used.The ...,rs2071747,NaN,NaN,1.510,0.045,Parkinson's disease,NaN,NaN,0.999869,0.000000

In [15]:
#sub3=sub3.fillna(-13)

In [16]:
np.unique(sub3['Genotype'].astype('str'),return_counts=True)

(array(['A', 'A ', 'A/A', 'A/C', 'A/G', 'A/T', 'A>C', 'A>G', 'AA', 'AA ',
        'AA+AG', 'AA+CA', 'AA-', 'AA-AG', 'AA/AC', 'AA/AG', 'AA/TA', 'AC ',
        'AC vs ', 'AC+CC', 'AC/ AA', 'AC/AA', 'AC/CC', 'AG', 'AG ',
        'AG + AA', 'AG + GG', 'AG vs AA', 'AG+GG', 'AG/AA', 'AG/GG',
        'AGAA', 'AT', 'AT ', 'AT + AA', 'AT+TT', 'AT/TT', 'ATT', 'C ',
        'C+C', 'C.', 'C/', 'C/A', 'C/C', 'C/G', 'C/T', 'C/TT', 'C>T',
        'CA ', 'CA+AA', 'CC', 'CC ', 'CC + CT', 'CC vs AA', 'CC+CA',
        'CC+CT', 'CC+TC', 'CC/CT', 'CG ', 'CG+GG', 'CG/CC', 'CG/GG', 'CT',
        'CT ', 'CT + CC', 'CT + TT', 'CT+', 'CT+CC', 'CT+TT', 'CT/CC',
        'CT/TT', 'G', 'G ', 'G+G', 'G-C', 'G/ ', 'G/A', 'G/AA', 'G/AG',
        'G/C', 'G/G', 'G/T', 'G>A', 'G>C', 'GA', 'GA ', 'GA + AA', 'GA+AA',
        'GA+GG', 'GA-', 'GA/AA', 'GC', 'GC ', 'GC+CC', 'GG', 'GG ',
        'GG + AG', 'GG vs AG', 'GG+AG', 'GG+CG', 'GG+GA', 'GG+GC', 'GG-',
        'GG-GT', 'GG/AG', 'GG/CG', 'GG/GC', 'GG/TG', 'GT', 'GT ',
        'GT vs GG', 'GT+GG', 'GT/TT', 'T', 'T ', 'T. ', 'T/A', 'T/C',
        'T/G', 'T/T', 'T>C', 'TA', 'TA ', 'TC ', 'TC + CC', 'TC+CC',
        'TC+TT', 'TC-TT', 'TC/CC', 'TC/TT', 'TG ', 'TG/GG', 'TT', 'TT ',
        'TT + CT', 'TT vs GG', 'TT+CC', 'TT+TC', 'TT/AT', 'TT/CT', 'TT/TC',
        'TT/TG', 'nan'], dtype=object),
 array([   1,   16,   11,    1,    6,    1,    1,    1,    2,  131,    2,
           1,    1,    1,    2,    1,    1,    7,    1,    3,    1,    1,
           5,    1,   68,    1,    2,    1,    7,    5,   11,    1,    3,
          11,    1,    1,    1,    1,    3,    2,    2,    1,    1,   19,
           2,   10,    1,    2,   11,    2,    8,  140,    2,    2,    1,
           3,    1,    4,   19,    1,    1,    1,    5,   44,    1,    1,
           1,    3,    7,    2,   14,    2,    2,    1,    1,    1,    4,
           1,    1,    3,   25,    8,    2,    3,    2,   39,    8,    6,
           1,    1,    5,    1,   17,    1,    9,  173,    1,    1,    1,
           1,    2,    1,    1,    1,    2,    1,    1,    1,    1,   23,
           1,    1,    1,    1,    3,    1,    1,    2,    2,   18,    4,
           1,    6,   18,    2,    4,    2,    1,    6,    3,    3,    1,
           3,  160,    2,    1,    1,    1,    1,    1,    2,    1, 6410],
       dtype=int64))

In [17]:
np.unique(sub3['Allele'].astype('str'),return_counts=True)

(array(['A', 'A ', 'A vs C', 'A-', 'A/A', 'A/C', 'A/G', 'A/T', 'A>C',
        'A>G', 'AA ', 'AA-GG', 'AG', 'C', 'C ', 'C-', 'C-C', 'C.', 'C. ',
        'C/', 'C/A', 'C/G', 'C/T', 'C>G', 'C>T', 'CA', 'CAG', 'CC', 'CC ',
        'CC+CT', 'CC+GC', 'CG', 'CT', 'CT ', 'CT/TT', 'G', 'G ', 'G > A',
        'G > T', 'G vs A', 'G-', 'G-A', 'G/C', 'G/T', 'G>A', 'G>C', 'GA ',
        'GA+AA', 'GC ', 'GCA', 'GG', 'GG ', 'T', 'T ', 'T vs C', 'T-',
        'T/C', 'T>C', 'TA ', 'TC', 'TG ', 'TGCT', 'TT', 'TT ', 'TTC',
        'nan'], dtype=object),
 array([  55,  436,    1,   30,    4,    1,    2,    1,    2,    6,    6,
           1,    1,   35,  393,   27,    1,    5,    1,    1,    1,    2,
           6,    2,    7,    1,    1,    3,    1,    1,    1,    1,    1,
           1,    1,   48,  479,    1,    1,    8,   30,    1,    1,    1,
           2,    2,    2,    1,    2,    1,    3,    4,   50,  455,    1,
          35,    2,    8,    1,    1,    4,    1,    3,    6,    1, 5456],
       dtype=int64))

In [18]:
np.unique(sub3['Population'].astype('str'),return_counts=True)

(array(['ADIPOQ', 'African', 'African American', 'Arab', 'Asian',
        'Asian population', 'Asians', 'Australasian', 'BC risk', 'Brazil',
        'Brazilian', 'British Isle of Wight', 'Caucasian', 'Chinese',
        'Chinese Han', 'Chinese population', 'Cypriot', 'Danish',
        'Dutch population', 'Egypt', 'Filipino', 'Greek', 'Han subjects',
        'Icelandic', 'Italian', 'Italian centenarians', 'Jamaican',
        'Japanese', 'Korea', 'Korean', 'Kuwaiti', 'Malay', 'Mexican',
        'Moroccan', 'Portuguese', 'Punjabi', 'Roma', 'Russian', 'Russians',
        'Slovak population', 'South China Children Leukemia Group',
        'Spanish', 'Taiwanese', 'Tibetan', 'Tunisian', 'Turkish', 'nan'],
       dtype=object),
 array([   1,    2,    6,    1,    6,    1,   28,    1,    1,    1,    1,
           1,    2,   24,    2,    1,    1,    1,    1,    1,    1,    1,
           2,    3,    1,    1,    1,   29,    1,    5,    1,    2,    1,
           1,    1,    1,    1,    2,    1,    1,    1,    2,    3,    1,
           1,    2, 7500], dtype=int64))

In [19]:
np.unique(sub3['Subgroup'].astype('str'),return_counts=True)

(array([' female ', ' male ', ' men ', ' women ', 'nan'], dtype=object),
 array([  46,   65,   48,  123, 7368], dtype=int64))

In [20]:
np.unique(sub3['PopScore'].astype('str'),return_counts=True)

(array(['0.0', '0.03879975527524948', '0.07896760106086731',
        '0.07961772382259369', '0.1001620665192604', '0.1065415218472481',
        '0.1079069077968597', '0.1094717457890511', '0.1098220273852348',
        '0.1106251180171967', '0.1539780646562576', '0.1618189364671707',
        '0.1621186137199402', '0.1811554282903671', '0.1959817111492157',
        '0.2012355774641037', '0.2265087813138962', '0.2419347018003464',
        '0.2424191236495972', '0.2521340847015381', '0.2543905377388',
        '0.2897184193134308', '0.3080657124519348', '0.3122957050800323',
        '0.3173651397228241', '0.3198893666267395', '0.3310315310955048',
        '0.3311332762241364', '0.3426511585712433', '0.3476693034172058',
        '0.3499848246574402', '0.3522886335849762', '0.3927724659442902',
        '0.4070074260234833', '0.4181559085845947', '0.4259624779224396',
        '0.4264279305934906', '0.4376904666423798', '0.4452800750732422',
        '0.4493487775325775', '0.4502162635326385', '0.4609493911266327',
        '0.4699532985687256', '0.485263466835022', '0.4862711429595947',
        '0.4869168698787689', '0.4887674748897552', '0.4931696057319641',
        '0.4950628578662872', '0.4953396618366241', '0.4960702657699585',
        '0.5026519298553467', '0.5097334384918213', '0.5172711610794067',
        '0.5217108726501465', '0.5237424969673157', '0.530475914478302',
        '0.5370746850967407', '0.5371012091636658', '0.5373473763465881',
        '0.5378205180168152', '0.5387734174728394', '0.5441251993179321',
        '0.5447736978530884', '0.5449352264404297', '0.5510591864585876',
        '0.5516208410263062', '0.5653504133224487', '0.5745610594749451',
        '0.5763097405433655', '0.5769252181053162', '0.5800588130950928',
        '0.5828865766525269', '0.5896689295768738', '0.5925265550613403',
        '0.5967925786972046', '0.5986167788505554', '0.599665105342865',
        '0.6019884347915649', '0.6029295921325684', '0.6111519932746887',
        '0.6123934388160706', '0.614874005317688', '0.617559552192688',
        '0.6208020448684692', '0.6236569881439209', '0.6241884827613831',
        '0.6255372762680054', '0.6324819326400757', '0.6402842998504639',
        '0.64338219165802', '0.6455634236335754', '0.6477171182632446',
        '0.6555414199829102', '0.659574568271637', '0.6604679822921753',
        '0.6678578853607178', '0.6687419414520264', '0.6928008794784546',
        '0.6960108876228333', '0.7038980722427368', '0.7039324045181274',
        '0.7068077921867371', '0.7152935862541199', '0.719526469707489',
        '0.7226359844207764', '0.723558783531189', '0.727011501789093',
        '0.7331368327140808', '0.7531924247741699', '0.7564498782157898',
        '0.756828248500824', '0.7575091123580933', '0.7605676054954529',
        '0.7628408074378967', '0.7640037536621094', '0.766596794128418',
        '0.7735440731048584', '0.773751437664032', '0.7743793725967407',
        '0.7746297717094421', '0.7752214074134827', '0.7755997180938721',
        '0.7765867114067078', '0.7791683673858643', '0.7817474603652954',
        '0.7851398587226868', '0.7941975593566895', '0.7967333793640137',
        '0.8055626153945923', '0.8066691160202026', '0.8080965280532837',
        '0.8095824718475342', '0.8107928037643433', '0.8137320876121521',
        '0.8176708817481995', '0.8217502236366272', '0.8226473927497864',
        '0.8281514644622803', '0.8284395933151245', '0.8292866349220276',
        '0.8299086689949036', '0.8316641449928284', '0.8341481685638428',
        '0.8354707956314087', '0.8359376788139343', '0.8377253413200378',
        '0.8425010442733765', '0.8429728746414185', '0.8434014320373535',
        '0.8437196016311646', '0.8445109128952026', '0.8446916341781616',
        '0.8509002327919006', '0.8514634370803833', '0.853908121585846',
        '0.8552283048629761', '0.8590090274810791', '0.8611130714416504',
        '0.8611191511154175', '0.8634684681892395', '0.8657072186470032',
        '0.8672828674316406', '0.8676506280899048', '0.8689640164375305',
        '0.8738650679588318', '0.8806699514389038', '0.8820183873176575',
        '0.8893982172012329', '0.8895277380943298', '0.8915686011314392',
        '0.8937918543815613', '0.8986178040504456', '0.8990752100944519',
        '0.8992182612419128', '0.9002948999404907', '0.90166836977005',
        '0.9032986164093018', '0.903533935546875', '0.9067286252975464',
        '0.9078124165534973', '0.9111459851264954', '0.9141713380813599',
        '0.9200443625450134', '0.9200631380081177', '0.9216715693473816',
        '0.9227485060691833', '0.9230087399482727', '0.9253681302070618',
        '0.925754725933075', '0.9259171485900879', '0.9269154667854309',
        '0.9276546835899353', '0.9279493093490601', '0.9287055134773254',
        '0.9329644441604614', '0.9344519376754761', '0.9348510503768921',
        '0.9369801878929138', '0.937188446521759', '0.9395355582237244',
        '0.9408947229385376', '0.9410315155982971', '0.9438937306404114',
        '0.9480944275856018', '0.9509031772613525', '0.9535634517669678',
        '0.9544262886047363', '0.9558219909667969', '0.9559744596481323',
        '0.9578012228012085', '0.9595706462860107', '0.9614195823669434',
        '0.9625148773193359', '0.9663475155830383', '0.9680041074752808',
        '0.9682950973510742', '0.9707854986190796', '0.9716338515281677',
        '0.9726210832595825', '0.9735132455825806', '0.9735975861549377',
        '0.9747176766395569', '0.9749920964241028', '0.9758159518241882',
        '0.9769145250320435', '0.9769471883773804', '0.9774588346481323',
        '0.9776520729064941', '0.9779387712478638', '0.9788882732391357',
        '0.9794579744338989', '0.9808216094970703', '0.9811971783638',
        '0.9814204573631287', '0.9817459583282471', '0.9826977849006653',
        '0.9829928874969482', '0.9833049774169922', '0.9834573268890381',
        '0.9836540222167969', '0.9842877388000488', '0.9846189618110657',
        '0.9847095608711243', '0.9854212999343872', '0.985765814781189',
        '0.9861454367637634', '0.9865231513977051', '0.9871359467506409',
        '0.9890461564064026', '0.9893653988838196', '0.9897186756134033',
        '0.9916536211967468', '0.9917111992835999', '0.991754949092865',
        '0.9917770028114319', '0.9918047785758972', '0.9923380017280579',
        '0.9925140142440796', '0.9937050938606262', '0.9937127828598022',
        '0.9945968985557556', '0.9947213530540466', '0.9951896071434021',
        '0.995373010635376', '0.9956326484680176', '0.9960319995880127',
        '0.9961968660354614', '0.9962799549102783', '0.9967815279960632',
        '0.9970768690109253', '0.9970816373825073', '0.9971395134925842',
        '0.9972311854362488', '0.997287929058075', '0.9974506497383118',
        '0.9977099895477295', '0.9977937936782837', '0.9980394840240479',
        '0.9980946779251099', '0.9981524348258972', '0.9981677532196045',
        '0.9982176423072815', '0.9982355237007141', '0.9982612133026123',
        '0.9983558058738708', '0.998387336730957', '0.9983898997306824',
        '0.9986414313316345', '0.9987316727638245', '0.9987640976905823',
        '0.9988919496536255', '0.9990577697753906', '0.9990745186805725',
        '0.9990939497947693', '0.9991862177848816', '0.9992286562919617',
        '0.9992440342903137', '0.9992485642433167', '0.9993118047714233',
        '0.999421238899231', '0.9995830059051514', '0.9995912909507751',
        '0.9996150732040405', '0.9996375441551208', '0.9997014403343201',
        '0.9997090697288513', '0.999748170375824'], dtype=object),
 array([7341,    1,    1,    1,    1,    1,    1,    1,    1,    2,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           2,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1],
       dtype=int64))

In [21]:
sub3=sub3.drop(['Population','Subgroup','PopScore','Genotype'],axis=1
              )

In [22]:
sub3=sub3.reset_index()

In [23]:
sub3=sub3.drop('index',axis=1)

In [24]:
sub3.head()

,Article_ID,Pattern,Sentence,rsID,Allele,OR,p_value,Effect,Score
0,PMCID1215495,Pattern12_3,Subsequent genotyping of additional SNPs iden...,rs4899445,NaN,1.56,0.003,Breast cancer (BC),0.999889
1,PMCID1698479,Pattern12_3,"Recently, Herbert and colleagues identified, ...",rs7566605,NaN,1.22,0.008,BMI,0.999727
2,PMCID1584415,Pattern12_4,"Individually, each of these polymorphisms onl...",rs7903146,NaN,1.15,NaN,Type 2 diabetes,0.998953
3,PMCID1584415,Pattern12_3,"The lactase polymorphism rs4988235, which var...",rs4988235,NaN,0.97,0.520,Type 2 diabetes,0.999800
4,PMCID1487176,Pattern12_4,"In that study, a third SNP in LTA (rs1041981)...",rs1041981,NaN,1.78,NaN,Myocardial infarction (MI),0.999191

In [25]:
sub3[sun3["Effect"]==sub3["Result"]]

NameError: name 'sun3' is not defined

In [58]:
temp=sub3[['rsID','Allele','OR','p_value','Effect','Score']]

In [60]:
temp

,rsID,Allele,OR,p_value,Effect,Score
0,rs4899445,NaN,1.560,0.003,Breast cancer (BC),0.999889
1,rs7566605,NaN,1.220,0.008,BMI,0.999727
2,rs7903146,NaN,1.150,NaN,Type 2 diabetes,0.998953
3,rs4988235,NaN,0.970,0.520,Type 2 diabetes,0.999800
4,rs1041981,NaN,1.780,NaN,Myocardial infarction (MI),0.999191
...,...,...,...,...,...,...
7645,rs2282055,NaN,0.271,0.040,Colorectal cancer (CRC),0.999671
7646,rs146420040,NaN,1.300,NaN,Venous thromboembolism (VTE),0.998874
7647,rs3761548,NaN,0.540,NaN,Preeclampsia (PE),0.337350
7648,rs3761548,NaN,0.540,NaN,Preeclampsia (PE),0.999909
7649,rs2071747,NaN,1.510,0.045,Parkinson's disease,0.999869

In [61]:
temp['target_text'] = temp.apply(lambda x: x.to_json(), axis=1)

C:\Users\AlexandruDaia\AppData\Local\Temp\ipykernel_8784\3728793577.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['target_text'] = temp.apply(lambda x: x.to_json(), axis=1)

In [62]:
temp

,rsID,Allele,OR,p_value,Effect,Score,target_text
0,rs4899445,NaN,1.560,0.003,Breast cancer (BC),0.999889,"{""rsID"":""rs4899445"",""Allele"":null,""OR"":1.56,""p..."
1,rs7566605,NaN,1.220,0.008,BMI,0.999727,"{""rsID"":""rs7566605"",""Allele"":null,""OR"":1.22,""p..."
2,rs7903146,NaN,1.150,NaN,Type 2 diabetes,0.998953,"{""rsID"":""rs7903146"",""Allele"":null,""OR"":1.15,""p..."
3,rs4988235,NaN,0.970,0.520,Type 2 diabetes,0.999800,"{""rsID"":""rs4988235"",""Allele"":null,""OR"":0.97,""p..."
4,rs1041981,NaN,1.780,NaN,Myocardial infarction (MI),0.999191,"{""rsID"":""rs1041981"",""Allele"":null,""OR"":1.78,""p..."
...,...,...,...,...,...,...,...
7645,rs2282055,NaN,0.271,0.040,Colorectal cancer (CRC),0.999671,"{""rsID"":""rs2282055"",""Allele"":null,""OR"":0.271,""..."
7646,rs146420040,NaN,1.300,NaN,Venous thromboembolism (VTE),0.998874,"{""rsID"":""rs146420040"",""Allele"":null,""OR"":1.3,""..."
7647,rs3761548,NaN,0.540,NaN,Preeclampsia (PE),0.337350,"{""rsID"":""rs3761548"",""Allele"":null,""OR"":0.54,""p..."
7648,rs3761548,NaN,0.540,NaN,Preeclampsia (PE),0.999909,"{""rsID"":""rs3761548"",""Allele"":null,""OR"":0.54,""p..."
7649,rs2071747,NaN,1.510,0.045,Parkinson's disease,0.999869,"{""rsID"":""rs2071747"",""Allele"":null,""OR"":1.51,""p..."

In [63]:
sub3['target_text']=temp['target_text']

In [64]:
sub3

,Article_ID,Pattern,Sentence,rsID,Allele,OR,p_value,Effect,Score,target_text
0,PMCID1215495,Pattern12_3,Subsequent genotyping of additional SNPs iden...,rs4899445,NaN,1.560,0.003,Breast cancer (BC),0.999889,"{""rsID"":""rs4899445"",""Allele"":null,""OR"":1.56,""p..."
1,PMCID1698479,Pattern12_3,"Recently, Herbert and colleagues identified, ...",rs7566605,NaN,1.220,0.008,BMI,0.999727,"{""rsID"":""rs7566605"",""Allele"":null,""OR"":1.22,""p..."
2,PMCID1584415,Pattern12_4,"Individually, each of these polymorphisms onl...",rs7903146,NaN,1.150,NaN,Type 2 diabetes,0.998953,"{""rsID"":""rs7903146"",""Allele"":null,""OR"":1.15,""p..."
3,PMCID1584415,Pattern12_3,"The lactase polymorphism rs4988235, which var...",rs4988235,NaN,0.970,0.520,Type 2 diabetes,0.999800,"{""rsID"":""rs4988235"",""Allele"":null,""OR"":0.97,""p..."
4,PMCID1487176,Pattern12_4,"In that study, a third SNP in LTA (rs1041981)...",rs1041981,NaN,1.780,NaN,Myocardial infarction (MI),0.999191,"{""rsID"":""rs1041981"",""Allele"":null,""OR"":1.78,""p..."
...,...,...,...,...,...,...,...,...,...,...
7645,PMID35076848,Pattern10_3,"In adjusted analysis, rs2282055 GG genotype w...",rs2282055,NaN,0.271,0.040,Colorectal cancer (CRC),0.999671,"{""rsID"":""rs2282055"",""Allele"":null,""OR"":0.271,""..."
7646,PMID35021256,Pattern12_4,"However, a Arg113Cys missense variant (rs1464...",rs146420040,NaN,1.300,NaN,Venous thromboembolism (VTE),0.998874,"{""rsID"":""rs146420040"",""Allele"":null,""OR"":1.3,""..."
7647,PMID35020557,Pattern12_2,There was a statistically significant associa...,rs3761548,NaN,0.540,NaN,Preeclampsia (PE),0.337350,"{""rsID"":""rs3761548"",""Allele"":null,""OR"":0.54,""p..."
7648,PMID35020557,Pattern12_2,There was a statistically significant associa...,rs3761548,NaN,0.540,NaN,Preeclampsia (PE),0.999909,"{""rsID"":""rs3761548"",""Allele"":null,""OR"":0.54,""p..."
7649,PMID35006443,Pattern12_3,Polymerase chain reaction (PCR) was used.The ...,rs2071747,NaN,1.510,0.045,Parkinson's disease,0.999869,"{""rsID"":""rs2071747"",""Allele"":null,""OR"":1.51,""p..."

In [65]:
sub3.to_csv('milestone1_data.csv',index=False)

In [66]:
sub3

,Article_ID,Pattern,Sentence,rsID,Allele,OR,p_value,Effect,Score,target_text
0,PMCID1215495,Pattern12_3,Subsequent genotyping of additional SNPs iden...,rs4899445,NaN,1.560,0.003,Breast cancer (BC),0.999889,"{""rsID"":""rs4899445"",""Allele"":null,""OR"":1.56,""p..."
1,PMCID1698479,Pattern12_3,"Recently, Herbert and colleagues identified, ...",rs7566605,NaN,1.220,0.008,BMI,0.999727,"{""rsID"":""rs7566605"",""Allele"":null,""OR"":1.22,""p..."
2,PMCID1584415,Pattern12_4,"Individually, each of these polymorphisms onl...",rs7903146,NaN,1.150,NaN,Type 2 diabetes,0.998953,"{""rsID"":""rs7903146"",""Allele"":null,""OR"":1.15,""p..."
3,PMCID1584415,Pattern12_3,"The lactase polymorphism rs4988235, which var...",rs4988235,NaN,0.970,0.520,Type 2 diabetes,0.999800,"{""rsID"":""rs4988235"",""Allele"":null,""OR"":0.97,""p..."
4,PMCID1487176,Pattern12_4,"In that study, a third SNP in LTA (rs1041981)...",rs1041981,NaN,1.780,NaN,Myocardial infarction (MI),0.999191,"{""rsID"":""rs1041981"",""Allele"":null,""OR"":1.78,""p..."
...,...,...,...,...,...,...,...,...,...,...
7645,PMID35076848,Pattern10_3,"In adjusted analysis, rs2282055 GG genotype w...",rs2282055,NaN,0.271,0.040,Colorectal cancer (CRC),0.999671,"{""rsID"":""rs2282055"",""Allele"":null,""OR"":0.271,""..."
7646,PMID35021256,Pattern12_4,"However, a Arg113Cys missense variant (rs1464...",rs146420040,NaN,1.300,NaN,Venous thromboembolism (VTE),0.998874,"{""rsID"":""rs146420040"",""Allele"":null,""OR"":1.3,""..."
7647,PMID35020557,Pattern12_2,There was a statistically significant associa...,rs3761548,NaN,0.540,NaN,Preeclampsia (PE),0.337350,"{""rsID"":""rs3761548"",""Allele"":null,""OR"":0.54,""p..."
7648,PMID35020557,Pattern12_2,There was a statistically significant associa...,rs3761548,NaN,0.540,NaN,Preeclampsia (PE),0.999909,"{""rsID"":""rs3761548"",""Allele"":null,""OR"":0.54,""p..."
7649,PMID35006443,Pattern12_3,Polymerase chain reaction (PCR) was used.The ...,rs2071747,NaN,1.510,0.045,Parkinson's disease,0.999869,"{""rsID"":""rs2071747"",""Allele"":null,""OR"":1.51,""p..."

In [70]:
sub3

,Article_ID,Pattern,Sentence,rsID,Allele,OR,p_value,Effect,Score,target_text
0,PMCID1215495,Pattern12_3,Subsequent genotyping of additional SNPs iden...,rs4899445,NaN,1.560,0.003,Breast cancer (BC),0.999889,"{""rsID"":""rs4899445"",""Allele"":null,""OR"":1.56,""p..."
1,PMCID1698479,Pattern12_3,"Recently, Herbert and colleagues identified, ...",rs7566605,NaN,1.220,0.008,BMI,0.999727,"{""rsID"":""rs7566605"",""Allele"":null,""OR"":1.22,""p..."
2,PMCID1584415,Pattern12_4,"Individually, each of these polymorphisms onl...",rs7903146,NaN,1.150,NaN,Type 2 diabetes,0.998953,"{""rsID"":""rs7903146"",""Allele"":null,""OR"":1.15,""p..."
3,PMCID1584415,Pattern12_3,"The lactase polymorphism rs4988235, which var...",rs4988235,NaN,0.970,0.520,Type 2 diabetes,0.999800,"{""rsID"":""rs4988235"",""Allele"":null,""OR"":0.97,""p..."
4,PMCID1487176,Pattern12_4,"In that study, a third SNP in LTA (rs1041981)...",rs1041981,NaN,1.780,NaN,Myocardial infarction (MI),0.999191,"{""rsID"":""rs1041981"",""Allele"":null,""OR"":1.78,""p..."
...,...,...,...,...,...,...,...,...,...,...
7645,PMID35076848,Pattern10_3,"In adjusted analysis, rs2282055 GG genotype w...",rs2282055,NaN,0.271,0.040,Colorectal cancer (CRC),0.999671,"{""rsID"":""rs2282055"",""Allele"":null,""OR"":0.271,""..."
7646,PMID35021256,Pattern12_4,"However, a Arg113Cys missense variant (rs1464...",rs146420040,NaN,1.300,NaN,Venous thromboembolism (VTE),0.998874,"{""rsID"":""rs146420040"",""Allele"":null,""OR"":1.3,""..."
7647,PMID35020557,Pattern12_2,There was a statistically significant associa...,rs3761548,NaN,0.540,NaN,Preeclampsia (PE),0.337350,"{""rsID"":""rs3761548"",""Allele"":null,""OR"":0.54,""p..."
7648,PMID35020557,Pattern12_2,There was a statistically significant associa...,rs3761548,NaN,0.540,NaN,Preeclampsia (PE),0.999909,"{""rsID"":""rs3761548"",""Allele"":null,""OR"":0.54,""p..."
7649,PMID35006443,Pattern12_3,Polymerase chain reaction (PCR) was used.The ...,rs2071747,NaN,1.510,0.045,Parkinson's disease,0.999869,"{""rsID"":""rs2071747"",""Allele"":null,""OR"":1.51,""p..."

In [71]:
openai_data=sub3[['Sentence','target_text']]

In [73]:
openai_data

,Sentence,target_text
0,Subsequent genotyping of additional SNPs iden...,"{""rsID"":""rs4899445"",""Allele"":null,""OR"":1.56,""p..."
1,"Recently, Herbert and colleagues identified, ...","{""rsID"":""rs7566605"",""Allele"":null,""OR"":1.22,""p..."
2,"Individually, each of these polymorphisms onl...","{""rsID"":""rs7903146"",""Allele"":null,""OR"":1.15,""p..."
3,"The lactase polymorphism rs4988235, which var...","{""rsID"":""rs4988235"",""Allele"":null,""OR"":0.97,""p..."
4,"In that study, a third SNP in LTA (rs1041981)...","{""rsID"":""rs1041981"",""Allele"":null,""OR"":1.78,""p..."
...,...,...
7645,"In adjusted analysis, rs2282055 GG genotype w...","{""rsID"":""rs2282055"",""Allele"":null,""OR"":0.271,""..."
7646,"However, a Arg113Cys missense variant (rs1464...","{""rsID"":""rs146420040"",""Allele"":null,""OR"":1.3,""..."
7647,There was a statistically significant associa...,"{""rsID"":""rs3761548"",""Allele"":null,""OR"":0.54,""p..."
7648,There was a statistically significant associa...,"{""rsID"":""rs3761548"",""Allele"":null,""OR"":0.54,""p..."
7649,Polymerase chain reaction (PCR) was used.The ...,"{""rsID"":""rs2071747"",""Allele"":null,""OR"":1.51,""p..."

In [76]:
openai_data = openai_data.rename(columns={"Sentence":"prompt", "target_text":"completion"})

openai_data.to_json('temp_big.json', orient='records', lines=True)
openai_data

,prompt,completion
0,Subsequent genotyping of additional SNPs iden...,"{""rsID"":""rs4899445"",""Allele"":null,""OR"":1.56,""p..."
1,"Recently, Herbert and colleagues identified, ...","{""rsID"":""rs7566605"",""Allele"":null,""OR"":1.22,""p..."
2,"Individually, each of these polymorphisms onl...","{""rsID"":""rs7903146"",""Allele"":null,""OR"":1.15,""p..."
3,"The lactase polymorphism rs4988235, which var...","{""rsID"":""rs4988235"",""Allele"":null,""OR"":0.97,""p..."
4,"In that study, a third SNP in LTA (rs1041981)...","{""rsID"":""rs1041981"",""Allele"":null,""OR"":1.78,""p..."
...,...,...
7645,"In adjusted analysis, rs2282055 GG genotype w...","{""rsID"":""rs2282055"",""Allele"":null,""OR"":0.271,""..."
7646,"However, a Arg113Cys missense variant (rs1464...","{""rsID"":""rs146420040"",""Allele"":null,""OR"":1.3,""..."
7647,There was a statistically significant associa...,"{""rsID"":""rs3761548"",""Allele"":null,""OR"":0.54,""p..."
7648,There was a statistically significant associa...,"{""rsID"":""rs3761548"",""Allele"":null,""OR"":0.54,""p..."
7649,Polymerase chain reaction (PCR) was used.The ...,"{""rsID"":""rs2071747"",""Allele"":null,""OR"":1.51,""p..."

In [42]:
#define Jaccard Similarity function
def jaccard(list1, list2):
    intersection = len(list(set(list1).intersection(list2)))
    union = (len(list1) + len(list2)) - intersection
    return float(intersection) / union

In [84]:
a=list('tumor')
b=list('big tumor')

In [85]:
jaccard(a,b)

0.5555555555555556

In [86]:
from difflib import SequenceMatcher

In [87]:
def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()

In [88]:
similar(a,b)

0.7142857142857143

In [50]:
a='tumor'
b='big tumor'

In [51]:
similar(a,b)

0.7142857142857143

In [63]:
#!pip install jellyfish
import jellyfish
jellyfish.jaro_distance('tumor', 'big tumor')

0.0

In [57]:
import math
import re
from collections import Counter

WORD = re.compile(r"\w+")


def get_cosine(vec1, vec2):
    intersection = set(vec1.keys()) & set(vec2.keys())
    numerator = sum([vec1[x] * vec2[x] for x in intersection])

    sum1 = sum([vec1[x] ** 2 for x in list(vec1.keys())])
    sum2 = sum([vec2[x] ** 2 for x in list(vec2.keys())])
    denominator = math.sqrt(sum1) * math.sqrt(sum2)

    if not denominator:
        return 0.0
    else:
        return float(numerator) / denominator


def text_to_vector(text):
    words = WORD.findall(text)
    return Counter(words)


text1 = "tumor"
text2 = "tumor"

vector1 = text_to_vector(text1)
vector2 = text_to_vector(text2)

cosine = get_cosine(vector1, vector2)

print("Cosine:", cosine)

Cosine: 1.0